<%= turbo_frame_tag "regex_results_frame" do %>
  <% if @regex_session.match? %>
    <ol class="regex-results-list">
      <% @regex_session.matches.each_with_index do |match, i| %>
        <li data-action="click->regex-form#selectResult" data-result-index="<%= i %>">
          <span
            class="regex-context"><%= match.before_inline(30) %></span><span
            class="regex-match"><%= match.to_s %></span><span
            class="regex-context"><%= match.after_inline(30) %></span>
        </li>
      <% end %>
    </ol>
  <% else %>
    <% if @regex_session.valid? %>
      <p class="regex-empty">No results</p>
    <% else %>
      <p class="regex-placeholder"><em>Match results</em></p>
    <% end %>
  <% end %>
<% end %>
