<% content_for(:title) { "regular expressions" } %>

<%= form_for(@regex_session, data: { controller: 'regex-form', turbo: true }) do |f| %>
  <div class="regex-nav" data-controller="nav">
    <div class="regex-title">
      <% if regex_domain? %>
        <%= link_to "Regular Expression Playground", root_path %>
      <% else %>
        <%= link_to root_path do %>
          <%= inline_svg "home" %>
        <% end %>
        <%= link_to "Regular Expression Playground", regex_sessions_path %>
      <% end %>
    </div>
    <div class="regex-toggles">
      <div class="regex-toggle">
        <%= f.checkbox :lines %>
        <%= f.label :lines, "Line Mode" %>
      </div>
      <div class="regex-toggle">
        <%= f.checkbox :insensitive %>
        <%= f.label :insensitive, "[i]gnore case" %>
      </div>
      <div class="regex-toggle">
        <%= f.checkbox :extended %>
        <%= f.label :extended, "e[x]tended" %>
      </div>
      <div class="regex-toggle">
        <%= f.checkbox :multiline %>
        <%= f.label :multiline, "[m]ulti-line" %>
      </div>
    </div>
    <%= f.button(:savemode, value: "execute") do %>
      match
    <% end %>
    <%= f.button(:savemode, value: "save") do %>
      save
    <% end %>
    <%= f.button(:savemode, value: "fork") do %>
      fork
    <% end %>
    <a class="theme-toggle" title="Toggle dark/light theme" data-action="click->nav#toggleTheme">
      <%= inline_svg "theme-toggle" %>
    </a>
  </div>
  <div class="regex-workspace" data-controller="resizable-panes">
    <div class="columns-container">
      <div class="regex-column left-column">
        <div class="regex-pane pattern-pane">
          <%= f.textarea :pattern, placeholder: 'Regular expression pattern (no slashes needed)' %>
        </div>
        <div class="horizontal-gutter"></div>
        <div class="regex-pane match-pane">
          <%= render partial: "regex_sessions/match" %>
        </div>
      </div>
      <div class="vertical-gutter"></div>
      <div class="regex-column right-column">
        <div class="regex-pane input-data-pane">
          <%= f.textarea :haystack, placeholder: 'Test data to match against' %>
        </div>
        <div class="horizontal-gutter"></div>
        <div class="regex-pane results-pane">
          <%= render partial: "regex_sessions/results" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
