<% content_for(:title) { "regular expressions" } %>

<%= form_for(@regex_session, data: { controller: 'regex-form', turbo: true }) do |f| %>
  <div class="regex-nav">
    <div class="regex-title">
      Regular Expression Playground
    </div>
    <%= f.button(:savemode, value: "execute") do %>
      match
    <% end %>
    <%= f.button(:savemode, value: "save") do %>
      save
    <% end %>
  </div>
  <div class="regex-workspace" data-controller="resizable-panes">
    <div class="columns-container">
      <div class="regex-column left-column">
        <div class="regex-pane pattern-pane">
          <%= f.textarea :pattern, placeholder: 'Regular expression pattern (no slashes needed)' %>
        </div>
        <div class="horizontal-gutter"></div>
        <div class="regex-pane match-pane">
          <%= render partial: "match" %>
        </div>
      </div>
      <div class="vertical-gutter"></div>
      <div class="regex-column right-column">
        <div class="regex-pane input-data-pane">
          <%= f.textarea :haystack, placeholder: 'Test data to match against' %>
        </div>
        <div class="horizontal-gutter"></div>
        <div class="regex-pane results-pane">
          <%= render partial: "results" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
